<!DOCTYPE html>
<html>
<head>
    <title>Football Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </style>
</head>

<body>

    <!-- HEADER -->
    <div class="header">
        <h1>⚽ Football Analytics Dashboard</h1>
        <p>Search teams, explore matches, and analyze performance</p>
    </div>

    <!-- SEARCH -->
    <form action="/search" method="GET" class="search-box">

        <input type="text"
               name="team"
               id="searchInput"
               placeholder="Search team (e.g Arsenal)"
               onkeyup="showSuggestions()"
               required>

        <button type="submit" class="search-btn">Search</button>

    </form>

    <!-- SUGGESTIONS -->
    <div id="suggestions"></div>

    <!-- STATS -->
    <div class="stats">

        <div class="stat-box">
            <h3>20+</h3>
            <p>Teams</p>
        </div>

        <div class="stat-box">
            <h3>2500+</h3>
            <p>Matches</p>
        </div>

        <div class="stat-box">
            <h3>Live</h3>
            <p>Search System</p>
        </div>

    </div>

    <!-- FOOTER -->
   <div class="footer">
    ⚽ Football Analytics Dashboard • Built with Flask & Open Data • © 2026
   </div>

</body>

<script>
let teams = [];

fetch('/teams')
    .then(res => res.json())
    .then(data => teams = data);

function showSuggestions() {

    let input = document.getElementById("searchInput").value.toLowerCase();
    let box = document.getElementById("suggestions");

    box.innerHTML = "";

    if (input === "") {
        box.style.display = "none";
        return;
    }

    let filtered = teams.filter(t => t.toLowerCase().includes(input));

    filtered.forEach(team => {
        box.innerHTML += `<div onclick="selectTeam('${team}')">${team}</div>`;
    });

    box.style.display = "block";
}

function selectTeam(name) {
    document.getElementById("searchInput").value = name;
    document.getElementById("suggestions").style.display = "none";
}
</script>

</html>